* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    align-items: center;
    border: 0.15rem solid black;
    display: flex;
    flex-direction: column;
}

header {
    align-items: center;
    border-bottom: 0.15rem solid black;
    display: flex;
    width: 100%;
}

#page-title {
    background-color: #fff;
    flex: auto;
    text-align: center;
}

.three-balls {
    display: flex;
    gap: 0.5rem;
}

.three-balls div {
    background-color: white;
    border: 0.1rem solid black;
    border-radius: 100%;
    height: 0.5rem;
    width: 0.5rem;
}

main {
    background-color: cyan;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    max-width: 100%;
    width: 60rem;
}

img {
    height: auto;
    width: 100%;
}